.go-back-icon {
  font-size: 4.4rem;
  grid-column: 2/-1;
  justify-self: flex-start;
}

.item-details-main {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.item-details-flex-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.sample-pads-grid-main {
  margin: 0 auto;
  padding: 2.4rem 4.8rem;
  background-color: #4b4453;
  border-radius: 1rem;
}
.sample-pads-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  padding: 2.4rem;
}

.pads-title {
  grid-column: 1/-1;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fdf7ff;
  margin-bottom: 2.4rem;
  margin: 0 auto;
}
.pad-info {
  color: #fdf7ff;
}

.pad {
  width: 12rem;
  height: 12rem;
  background: #845ec2;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.pad-icon {
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  color: #ffe8ff;
}
.on-play {
  animation: playPad 0.3s ease-out;
}

@keyframes playPad {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
    background: #ff00ad;
  }
  65% {
    box-shadow: inset 0 0 30px #fff;
  }
  100% {
    transform: scale(1);
  }
}

.--details {
  margin-right: 2.4rem;
}
