.item-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 3.2rem;
    row-gap: 4.8rem;
    column-gap: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
}

.item-card{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: left;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: .2rem .5rem .8rem  rgba(37, 10, 10, .7);
}

.item-card-img{
    border-top-left-radius:  1rem;
    border-top-right-radius:  1rem;
}

.item-card-btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #eee;
    background-color: #b015e8;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 900;
    box-shadow: .2rem .2rem .3rem  rgba(37, 10, 10, .7);
    margin-bottom: 2.4rem;
}

.item-card-category{
    padding: 0.2rem 1.2rem;
    background-color: #b015e8;
    color: #eee;
    border-radius: 1rem;
    margin-right: auto;
    margin-left: 2rem;
}
.item-card-product-name{
    font-size: 2rem;
    font-weight: 900;
    margin-left: 2rem;
}
.item-card-description{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
}
.item-card-price{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
}

.item-card-icon{
    margin-top: auto;
}
.item-card-btn{

}