/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Imported: 400,500,600,700
Light: 400
Default: 500
Medium: 600
Bold: 700

--- 02 COLORS

- Primary:
#b015e8
- Secondary:
#FF00AD
#FFE8FF
#FF3976
#FF894E
#0086FF
#009DD6
#00A091


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* HTML TAGS */
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 3.6rem;
  text-align: center;
}

article p {
  font-size: 3.6rem;
  margin-top: 8rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.swal2-popup {
  font-size: 1.8rem !important;
  font-family: 'Roboto', sans-serif;
}

.swal2-button {
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
